/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

@import url("https://fonts.googleapis.com/css?family=Poppins:100, 500|Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Lora|Montserrat|Neucha&display=swap");

:root {
  /* CHANGES WITH THEME */
  --background: #f5f5f5;
  --bujo-body: #ffffff;
  --borders: #cec0b7;
  --accent: #e78d8d;
  --headers: #3d3d3d;
  --hover: #f7ebeb;

  --tab0: #ff6c6c;
  --tab1: #6cb9ff;
  --tab2: #ffbc6c;
  --tab3: #ad6cff;

  --label1: #cf9893;
  --label2: #b3d9ff;
  --label3: #d9b3ff;

  /* DEFAULT UNLESS EXPLICITLY RENAMED */
  /* they do still have to be included in the theme object though, in case they get overridden */
  --body: #6e6e6e;
  --accent-text: #ffffff;
  --calendar-text-month: #c0c0c0;
  --calendar-text-year: #696969;
  --box-shadow: rgba(51, 50, 47, 0.377);

  /* STATIC */
  --color-1: #4472d6;
  --color-2: #27bbe0;
  --color-3: #f0cd20;
  --color-4: #e08733;
  --color-5: #d46170;

  --binary-true: #a0e5a1;
  --binary-false: #ffabab;

  --body-darker: #f5f5f5;
  --slider-1: rgba(152, 180, 241, 0.08);
  --slider-2: rgba(152, 180, 241, 0.17);
  --slider-3: rgba(152, 180, 241, 0.25);
  --slider-4: rgba(152, 180, 241, 0.34);
  --slider-5: rgba(152, 180, 241, 0.42);
  --slider-6: rgba(152, 180, 241, 0.5);
  --slider-7: rgba(152, 180, 241, 0.58);
  --slider-8: rgba(152, 180, 241, 0.67);
  --slider-9: rgba(152, 180, 241, 0.75);
  --slider-10: rgba(152, 180, 241, 0.83);
  --slider-11: rgba(152, 180, 241, 0.92);
  --slider-12: rgba(152, 180, 241, 1);

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  height: 100vh;
  overflow-x: hidden;
  color: var(--body);
}

form {
  flex-grow: 1;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}
