.collections-page-container {
  width: 90vw;
  margin: auto;
}

.collections-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--headers);
  height: 10vh;
}

.collections-container {
  display: flex;
  justify-content: space-around;
}

.collectionList-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 54vh;
  overflow: scroll;
  padding: 24px 0px;
  border-right: 1px solid var(--borders);
}

.collectionList-btn {
  font-family: "Pippins", sans-serif;
  font-size: 14px;
  text-align: left;
  padding: 16px;
  background: none;
  border: none;
  overflow-wrap: break-word;
}

.collectionList-btn + .collectionList-btn {
  margin-top: 16px;
}

.collectionList-btn-active {
  background: var(--accent);
}

.collections-editor-header {
  display: flex;
  height: 4vh;
}

.collection-name {
  overflow-wrap: break-word;
}

.collections-editor {
  width: 70%;
  height: 54vh;
  width: 60vw;
  padding: 24px;
  word-wrap: break-word;
  overflow: scroll;
  border: 1px solid red;
}

.collections-footer {
  padding: 16px 10px 16px 0px;
  margin-top: -2px !important;
  margin-left: -6px;
}

.popup {
  position: fixed;
  width: 20vw;
  margin: auto;
  margin-top: 10vh;
  background-color: white;
  border: 1px solid var(--borders);
  border-radius: 10px;
  padding: 0px 16px 16px 16px;
  z-index: 1;
}

.popup\_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 15px;
  background: white;
}

.popup-text {
  height: 3vh;
  width: 19.5vw;
  border: 1px solid var(--borders);
}

.popup-btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
}

.popup-btn {
  height: 4vh;
  width: 9vw;
  background: none;
  border: 1px solid var(--borders);
  border-radius: 3px;
}

.popup-submit-btn {
  color: var(--accent-text);
  background: var(--accent);
}
