.collections-page-container {
  width: 90vw;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 50px;
}

.collectionList-container {
  display: flex;
  flex-direction: column;
  width: 20vw;
  border-right: 1px solid var(--borders);
}

.collectionList-btn {
  padding: 16px;
  background: none;
  border: none;
}

.collectionList-btn + .collectionList-btn {
  margin-top: 16px;
}

.collections-editor {
  width: 60vw;
  border: 1px solid red;
  padding: 16px;
}

.popup {
  position: fixed;
  width: 20vw;
  height: 20vw;
  margin: auto;
  background-color: white;
  border: 1px solid var(--borders);
  border-radius: 10px;
  padding: 16px;
  z-index: 1;
}

.popup\_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 20px;
  background: white;
}
