@import url("https://fonts.googleapis.com/css?family=Poppins|Sacramento&display=swap");

.landing-Container {
  width: 100vw;
  height: 100vh;
}

.u-centered {
  display: flex;
  margin: auto;
  justify-content: center;
}

.landing-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 90%;
  margin: auto;
  height: 90vh;
}

.landing-desc {
  width: 50%;
}
.title {
  font-family: "Poppins", sans-serif;
  font-size: 80px;
  font-weight: 700;
}

.tagline {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;

  margin: 0;
  text-align: left;
}

.tagline-highlight {
  color: var(--accent);
  font-weight: bold;
}

.pic {
  margin-right: 20px;
}
