.notFound-Container {
  margin-top: 12vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.llamapic {
  height: 30vh;
  width: 40vh;
}

.error {
  font-family: "Poppins", sans-serif;
}

.message {
  text-align: center;
  padding-left: 5vw;
  padding-right: 5vw;
  font-family: "Poppins", sans-serif;
}
