.settings-container {
  height: 75%;
  display: flex;
  flex-direction: row;
  flex-basis: 0;
  justify-content: space-around;
}

.settings-container > .themes,
.settings-container > .widgets {
  width: 40%;
}

.theme-container,
.settingsWidget-container {
  display: flex;
  flex-basis: 0;
}

/* THEMES */
.theme-container {
  flex-wrap: wrap;
}

.theme-option {
  width: 40%;
  margin: 5px;
  padding: 16px;
  border-radius: 7px;
  border: 1px solid var(--borders);
}

.theme-option:hover {
  cursor: pointer;
}

.theme-active {
  box-shadow: 0 0px 5px var(--accent);
}

.theme-name {
  text-align: center;
}

.theme-color-container {
  display: flex;
  justify-content: space-around;
}

.theme-color {
  height: 2vw;
  width: 2vw;
  border-radius: 3px;
}

.theme-color + .theme-color {
  margin-left: 4px;
}

/* WIDGETS */

.settingsWidget-container {
  flex-direction: column;
  overflow-y: scroll;
  height: 60%;
}

.wid-container,
.form {
  width: 90%;
}

.wid-container {
  border: 1px solid var(--borders);
  border-radius: 7px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.settings-header {
  color: var(--headers);
  margin-top: 0;
  margin-bottom: 0;
}

.settings-category {
  color: var(--body);
}

.dropdown-settings {
  font-family: "Poppins", sans-serif;
  background-color: none;
  font-size: 0.75rem;
  padding: 5px 5px;
  color: var(--headers);
  border-color: var(--borders);
  margin: 0 5px;
  height: 2rem;
  border-radius: 10px;
}

option {
  padding: 3px;
}

.select-items {
  background-color: gray;
}

.dropdown-settings:focus {
  outline: none;
}

.form {
  padding-top: 10px;
  border-top: 1px solid var(--borders);
  margin-top: 20px;
}

.form-options {
  display: flex;
  flex-direction: row;
}

.widget-button {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 0.75rem;
  background: var(--accent);
  padding: 7px 10px;
  border: 1px solid transparent;
  border-radius: 10px;
  text-decoration: none;
  width: 25%;
  transition: all 0.4s;
}

.widget-button:hover {
  border: 1px solid var(--accent);
  background: none;
  color: var(--accent);
  cursor: pointer;
}

.widget-button:active {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
}

.new-widget-input {
  display: block;
  width: 55%;
  height: 1.75rem;
  border: 1px solid var(--borders);
  outline: 0;
  font-size: 0.75rem;
  font-family: "Poppins", sans-serif;
  background: transparent;
  transition: border-color 0.2s;
  font-weight: 200;
}

/* .new-widget-input::placeholder {
  color: transparent;
} */

.new-widget-input:focus {
  padding-left: 3px;
  height: 1.75rem;
  border-image: linear-gradient(to right, grey, var(--accent));
  box-shadow: 0 0 5px var(--accent);
  border-image-slice: 1;
}

/* reset input */
.new-widget-input:required,
.new-widget-input:invalid {
  box-shadow: none;
}

.widget-delete-btn {
  height: 32px;
  width: 32px;
  border: 1px solid var(--borders);
  border-radius: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 32px;
  color: var(--borders);
}

.widget-delete-btn:hover {
  background-color: var(--accent);
  color: var(--accent-text);
  cursor: pointer;
  transition: all 0.4s;
}

.wid-container + .wid-container {
  margin-top: 16px;
}

.error-container {
  color: #cd0c00;
}
.dropdown-option {
  padding: 10px;
  width: 25%;
}
