/*
for widget buttons that alter calendar
*/


.no-link:hover {
  box-shadow: none;
  cursor: default; 
  background-color: transparent;
}

.calendar-widget-btn {
  color: var(--accent);
  border: 1px solid var(--accent);
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  width: 90%;
  background: rgba(0, 0, 0, 0);
  padding: 16px;
}

.calendar-widget-btn + .calendar-widget-btn {
  margin-top: 16px;
}

.calendar-widget-btn:hover {
  box-shadow: 0 0 6px rgba(207, 152, 147, 1);
}

.calendar-widget-btn.active {
  color: var(--accent-text);
  background-color: var(--accent);
}
/* 
Generic calendar styling
*/

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

.week-day {
  background-color: var(--accent);
  color: var(--accent-color);
}
.calendar {
  border-spacing: 0;
}
.calendar-number {
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  color: #c0c0c0;
}
.calendar-day {
  position: relative;
  padding: 0 !important;
  margin: 0;
  border: 1px solid #c0c0c0;
  cursor: pointer;
}


.calendar-day:hover {
  background-color: var(--hover);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.calendar-day:active {
  color: var(--active-text);
  background-color: var(--active);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.calendar-day.empty,
.calendar-day.empty:hover,
.calendar-day.empty:active {
  cursor: default;
  background-color: transparent;
  box-shadow: none;
}

tr:not(:first-child) > td {
  border-top: none;
}

tr:nth-child(2) > td {
  border: 1px solid #c0c0c0;
}

tr > td:not(:first-child) {
  border-left: none;
}

.calendar-color-data {
  position: absolute;
  top: 0;
  height: 10px;
  width: 100%;
}

/* 
For monthly
*/
.calendar.month {
  width: 60vw;
}

.calendar-day.month {
  width: 90px;
  height: 90px;
}

.calendar-color-data.month {
  height: 10px;
}

.calendar-number.month {
  font-size: 50px;
}

/* 
For yearly
*/

.calendar.year {
  width: 100%;
}

.calendar-day.year {
  width: 15px;
  height: 15px;
}

.calendar-number.year {
  font-size: 10px;
  color: #696969;
  z-index: 100;
}

.week-day.year {
  font-size: 10px;
}

/* 

FOR COLORING WIDGET DATA

*/

.BinaryWidget-false {
  background-color: var(--binary-false);
}
.BinaryWidget-true {
  background-color: var(--binary-true);
}

.ColorWidget-1 {
  background-color: var(--color-1);
}
.ColorWidget-2 {
  background-color: var(--color-2);
}
.ColorWidget-3 {
  background-color: var(--color-3);
}
.ColorWidget-4 {
  background-color: var(--color-4);
}
.ColorWidget-5 {
  background-color: var(--color-5);
}

.SliderWidget-1 {
  background-color: var(--slider-1);
}
.SliderWidget-2 {
  background-color: var(--slider-2);
}
.SliderWidget-3 {
  background-color: var(--slider-3);
}
.SliderWidget-4 {
  background-color: var(--slider-4);
}
.SliderWidget-5 {
  background-color: var(--slider-5);
}
.SliderWidget-6 {
  background-color: var(--slider-6);
}
.SliderWidget-7 {
  background-color: var(--slider-7);
}
.SliderWidget-8 {
  background-color: var(--slider-8);
}
.SliderWidget-9 {
  background-color: var(--slider-9);
}
.SliderWidget-10 {
  background-color: var(--slider-10);
}
.SliderWidget-11 {
  background-color: var(--slider-11);
}
.SliderWidget-12 {
  background-color: var(--slider-12);
}
