.Header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  margin: 50px 0px 0px 0px;
}

.Header-dates {
  color: var(--headers);
}

.Header-nav {
  padding: 20px 0px;
}

.Header-nav-btn {
  background-color: var(--accent) !important;
  color: white;
  border: 1px solid var(--borders);
  height: 32px;
  width: 32px;
  font-size: 20px;
  border-radius: 100%;
}

.Header-nav-btn:hover {
  cursor: pointer;
}

.Header-nav button + button {
  margin-left: 5px;
}
