@import url("https://fonts.googleapis.com/css?family=Poppins|Sacramento&display=swap");

.Navbar-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 15px 20px 10px 20px;
  height: 10vh;
}

.Navbar-company {
  font-family: "Sacramento", cursive;
  color: var(--headers);
  font-size: 36px;
  font-weight: 500;
  margin-left: 15px;
}

.Navbar-opts {
  display: flex;
  margin-right: 20px;
  position: absolute;
  right: 0;
}

.Navbar-opts_link {
  font-family: "Poppins", sans-serif;
  color: white;
  width: 50%;
  margin-right: 20px;
  padding: 10px 10px 0 10px;
  border: 1px solid transparent;
  border-radius: 10px;
  text-decoration: none;
  transition: transform 0.5s;
}
.Navbar-opts_link:hover {
  transform: translateY(-5px);
}
.Navbar-opts_link.active {
  border: 1px solid white;
}
