.notes-sectionContainer {
  margin: -15em 25em;
}

.editor-container {
  /* temporary CSS just so the text box is visible lol */
  height: 50vh;
  width: 50vw;
  border: 1px solid #bcbcbc;
  padding: 1em 1em;
  color: #010101;
  overflow: scroll;
}

.editor-toolbar {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #bcbcbc;
}

.RichEditor-controls {
  display: inline;
  margin-right: 1em;
}

.RichEditor-styleButton + .RichEditor-styleButton {
  margin-left: 1em;
}

.RichEditor-activeButton {
  color: red;
}

.editor-saveButton {
  margin-top: 2em;
}
