.notes-section {
}

.RichEditor-root {
  /* temporary CSS just so the text box is visible lol */
  height: 50vh;
  width: 60vw;
  border: 1px solid #bcbcbc;
  padding: 1.5em;
  color: #010101;
  overflow: scroll;
}

.RichEditor-editor {
  border-top: 1px solid #bcbcbc;
  margin-top: 1em;
  padding-top: 1em;
}

.RichEditor-controls {
  display: inline;
  margin-right: 1em;
}

.RichEditor-styleButton + .RichEditor-styleButton {
  margin-left: 1em;
}

.RichEditor-activeButton {
  color: red;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-footer {
  width: 60vw;
  padding: 0em 1.5em;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.editor-saveButton {
  margin-top: 2em;
  margin-left: 2em;
  padding: 1em;
  background: black;
  color: white;
}

.editor-saveButton-saved {
  margin-top: 2em;
  margin-left: 2em;
  padding: 1em;
  background: none;
  color: #bcbcbc;
}
