.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -75px;
  width: 300px;
  height: 150px;
  background-color: white;
  border: 1px solid var(--borders);
  border-radius: 7px;
  padding: 0px 16px 16px 16px;
  z-index: 2;
  transform-origin: top left;
  animation: enter 0.25s ease-in;
}

.popup_inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.popup-settings {
  margin-top: -500px !important;
}

.popup-text {
  height: 3vh;
  width: 100%;
  border: 1px solid var(--borders);
}
.popup-text:focus {
  box-shadow: 0 0 5px var(--accent);
  outline: 0;
}

.popup-btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
}

.popup-btn {
  height: 4vh;
  width: 9vw;
  background: none;
  border: 1px solid var(--borders);
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.25s;
}

.popup-submit-btn {
  color: var(--accent-text);
  background: var(--accent);
}

.popup-btn:hover {
  box-shadow: 0 0 5px var(--accent);
}

.popup-error {
  font-size: 0.7rem;
  font-style: italic;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  animation: enter 0.25s ease-in;
  z-index: 1;
}

@keyframes enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
