.popup {
  position: fixed;
  width: 20vw;
  margin: auto;
  margin-top: 10vh;
  background-color: white;
  border: 1px solid var(--borders);
  border-radius: 10px;
  padding: 0px 16px 16px 16px;
  z-index: 1;
}

.popup-settings {
  margin-top: -500px !important;
}

.popup\_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 15px;
  background: white;
}

.popup-text {
  height: 3vh;
  width: 19.5vw;
  border: 1px solid var(--borders);
}

.popup-btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
}

.popup-btn {
  height: 4vh;
  width: 9vw;
  background: none;
  border: 1px solid var(--borders);
  border-radius: 3px;
}

.popup-submit-btn {
  color: var(--accent-text);
  background: var(--accent);
}
