.submitted-val.yes-btn,
.submitted-val.no-btn {
  background: var(--accent);
  color: var(--accent-text);
  border: white;
}

.cool-btn.submitted-val {
  border: 1.5px solid black;
}

.widget-Daily {
  /* border: 1px solid var(--borders); */
  /* border-radius: 7px; */
  padding: 16px;
}

.widget-Setting {
  /* border: 1px solid var(--borders); */
  /* border-radius: 7px; */
  display: inline;
}

.widget-Daily + .widget-Daily {
  margin-top: 16px;
}


.widget-name {
  margin-bottom: 8px;
}

.yes-btn,
.no-btn {
  height: 32px;
  width: 32px;
  border: 1px solid var(--borders);
  border-radius: 100%;
  font-family: "Poppins", sans-serif;
}

.color-btn-container-Setting {
  display: inline;
}

.color-btn {
  height: 32px;
  width: 32px;
  border-radius: 10px;
  border: 1px solid var(--borders);
}

.slider-widget {

  display: flex;
  justify-content: center;
  align-items: baseline;
}

.slider-input {
  -webkit-appearance: none;
  margin-right: 16px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 5px;
  height: 10px;
  border: none;
  outline: none;
  /* border: 1px solid #bdc3c7; */
  /* background-color: blue; */
  background: linear-gradient(to right, rgb(208, 246, 255) , rgb(0, 61, 194));
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.cool-btn {
  height: 32px;
  width: 32px;
  border-radius: 10px;
}

.yes-btn,
.no-btn {
  height: 32px;
  width: 32px;
  border-radius: 100%;
  font-family: "Poppins", sans-serif;
}

button:focus {
  outline: none;
}
