.submitted-val.yes-btn,
.submitted-val.no-btn {
  background: var(--accent);
  color: white;
  border: white;
}

.submitted-val.color-btn {
  box-shadow: 1px 2px var(--borders);
}

.widget {
  /* border: 1px solid var(--borders); */
  /* border-radius: 7px; */
  padding: 16px;
}

.widget + .widget {
  margin-top: 16px;
}

.widget-name {
  margin-bottom: 8px;
}

.yes-btn,
.no-btn {
  height: 32px;
  width: 32px;
  border: 1px solid var(--borders);
  border-radius: 100%;
  font-family: "Poppins", sans-serif;
}

.color-btn {
  height: 32px;
  width: 32px;
  border-radius: 10px;
  border: 1px solid var(--borders);
}

.slider-widget {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.slider-input {
  margin-right: 16px;
}
