.submitted-val.yes-btn,
.submitted-val.no-btn {
  background: var(--accent);
  color: var(--accent-text);
  border: white;
}
.cool-btn.submitted-val {
  box-shadow:  0 0 5px rgba(51, 50, 47, 0.377);
}

.mood-icon {
  padding-top: 4px;
  padding-left: 2px;
  color: var(--body)
}

.widget-Daily {
  padding: 16px;
}

.widget-Setting {
  display: inline;
}

.widget-Daily + .widget-Daily {
  margin-top: 16px;
}


.widget-name {
  margin-bottom: 8px;
}

.yes-btn,
.no-btn {
  height: 32px;
  width: 32px;
  border: 1px solid var(--borders);
  border-radius: 100%;
  font-family: "Poppins", sans-serif;
}

.color-btn-container-Setting {
  display: inline;
}

.slider-widget {

  display: flex;
  justify-content: center;
  align-items: baseline;
}

.slider-input {
  -webkit-appearance: none;
  margin-right: 16px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 184px;
  border-radius: 8px;
  height: 16px;
  border: none;
  outline: none;
  /* border: 1px solid #bdc3c7; */
  /* background-color: blue; */
  background: linear-gradient(to right, var(--slider-1) , var(--slider-12));
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color:var(--background);
  border: 1px solid var(--borders);
  width: 24px;
  height: 24px;
  border-radius: 24px;
  cursor: pointer;
}

.cool-btn {
  height: 36px;
  width: 36px;
  border: 4px  solid white ;
  border-radius: 36px;
}

.cool-btn:hover{
  cursor: pointer;
}


.cool-btn + .cool-btn {
  margin-left: 0.5vw;
  /* border-radius: 10px; */
}

.mood-icon + .mood-icon {
  margin-left: 0.6vw;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
  background-color: var(--binary-false);
  border-radius: 28px;
  transition: all 0.3s;
}

.switch::after {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius:50%;
  background-color: var(--background);
  top: 1px;
  left: 1px;
  transition: all 0.3s;
}

.switch:hover {
  cursor: pointer;
}

.checkbox:checked + .switch::after {
  left : 21px;
}

.checkbox:checked + .switch {
  background-color: var(--binary-true);
}

.checkbox {
  display : none;
}

.yes-btn,
.no-btn {
  height: 32px;
  width: 32px;
  border-radius: 100%;
  font-family: "Poppins", sans-serif;
}

button:focus {
  outline: none;
}
