.bullet-journal {
  width: 100%;
  height: 90vh;
  margin: auto;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}
.bullet-journal_body {
  background-color: var(--bujo-body);
  border-radius: 25px 25px 0 0;
  padding: 30px !important;
  margin-top: 7vh;
  width: 80vw;
  height: 100%;
}
